body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.container, .container-flex {
  max-width: 800px;
  margin:auto;
  padding:0px;
}

input, button, select {
  padding:10px;
}

button {
  cursor: pointer;
}

.x {
  color: red;
  font-size:24px;
}

.container-flex {
  display: flex;
}

nav {
  background-color: black;
  color:white;
  padding:20px;
}

nav .container-flex {
  justify-content: space-between;
}

.task {
  display:flex;
  align-items: center;
  justify-content: space-between;
}

.Normal {
  background-color:white;
}

.Low {
  background-color:lightgrey;
}

.High {
  background-color:yellow;
}